@using app.Models.ViewModels

@model RedefinirSenhaViewModel

@{
    Layout = "_MainLayout";
    ViewData["Title"] = "Redefinir Senha";
}

<div class="text-center">
    <img src="../../images/logosemfundo.png" alt="logomarca" class="img-fluid"
        style="width: 320px; margin-top: 6rem; margin-bottom: 6rem;">
</div>

<div class="row justify-content-center">
    <div class="col-md-4">
        <h1 class="text-center mb-5 mt-5" style="font-size: 42px;">Redefinir Acesso</h1>

        <!-- Mensagem de sucesso ou erro -->
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-info">
                @TempData["SuccessMessage"]
            </div>
        }

        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger">
                @TempData["ErrorMessage"]
            </div>
        }

        <form asp-action="RedefinirSenha" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- Campo para a nova senha -->
            <div class="form-group mb-3">
                <label for="NovaSenha">Nova Senha</label>
                <input asp-for="NovaSenha" type="password" id="NovaSenha" class="form-control" required />
                <span asp-validation-for="NovaSenha" class="text-danger"></span>
            </div>

            <!-- Campo para confirmação da nova senha -->
            <div class="form-group mb-3">
                <label for="ConfirmarSenha">Confirme a Nova Senha</label>
                <input asp-for="ConfirmarSenha" type="password" id="ConfirmarSenha" class="form-control" required />
                <span asp-validation-for="ConfirmarSenha" class="text-danger"></span>
            </div>

            <!-- Campo oculto para o token -->
            <input asp-for="Token" type="hidden" />



            <div style="display: flex; justify-content: center; margin-top: 6rem; margin-bottom: 6rem;">
                <button type="submit" class="btn"
                    style="width: 260px; background-color: #24826F; color: white;">Redefinir Senha</button>
            </div>

        </form>

        <div class="text-center mt-3">
            <a href="@Url.Action("Login", "Auth")"><p style="color: #fff;">Voltar para a página de Login</p></a>
        </div>
    </div>
</div>
